<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tekno Cep - @ViewData["Title"]</title>
    <!--

    Template 2088 Big City

    http://www.tooplate.com/view/2088-big-city

    -->
    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="~/HomePage/css/bootstrap.min.css">
    <!-- Bootstrap style -->
    <link rel="stylesheet" href="~/HomePage/css/hero-slider-style.css">
    <!-- Hero slider style (https://codyhouse.co/gem/hero-slider/) -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Magnific popup style (http://dimsemenov.com/plugins/magnific-popup/) -->
    <link rel="stylesheet" href="~/HomePage/css/tooplate-style.css">
    <!-- Tooplate style -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    @RenderSection("styles",false)
</head>
<body>
    <div class="cd-bg-video-wrapper" data-video="~/HomePage/video/bangkok-city">
        <!-- video element will be loaded using jQuery -->
    </div> <!-- .cd-bg-video-wrapper -->

    

        <div class="cd-slider-nav">
            <div class="container">
                <nav class="navbar">
                    <div class="tm-navbar-bg">
                        <a class="navbar-brand text-uppercase" href="/">TeknoCep Teknik</a>
                        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                            &#9776;
                        </button>
                        <div class="collapse navbar-toggleable-md text-xs-center text-uppercase tm-navbar" id="tmNavbar">
                         
                              
                                    <a class="nav-link" href="/" data-no="1">Ana Sayfa <span class="sr-only">(current)</span></a>
                              
                               
                                    <a class="nav-link" href="/about" data-no="2">Hakkımızda</a>
                              
                                
                                    <a class="nav-link" href="/our-service" data-no="3">Hizmetler</a>
                                
                               
                                    <a class="nav-link" href="/contact">İletişim</a>
                                
                            
                        </div>
                    </div>
                </nav>
            </div>
        </div>



 
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">

                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>


    <!-- load JS files -->
    <script src="~/HomePage/js/jquery-1.11.3.min.js"></script>         <!-- jQuery (https://jquery.com/download/) -->
    <script src="~/HomePage/js/tether.min.js"></script>                <!-- http://tether.io/ -->
    <script src="~/HomePage/js/isInViewport.min.js"></script>          <!-- isInViewport js (https://github.com/zeusdeux/isInViewport) -->
    <script src="~/HomePage/js/bootstrap.min.js"></script>             <!-- Bootstrap js (v4-alpha.getbootstrap.com/) -->
    <script src="~/HomePage/js/hero-slider-main.js"></script>          <!-- Hero slider (https://codyhouse.co/gem/hero-slider/) -->
    <script src="~/HomePage/js/jquery.magnific-popup.min.js"></script> <!-- Magnific popup (http://dimsemenov.com/plugins/magnific-popup/) -->
    <script src="~/js/Home.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.js"></script>
    <script>

        function adjustHeightOfPage(pageNo) {

            var offset = 80;
            var pageContentHeight = $(".cd-hero-slider li:nth-of-type(" + pageNo + ") .js-tm-page-content").height();

            if ($(window).width() >= 992) { offset = 120; }
            else if ($(window).width() < 480) { offset = 40; }

            // Get the page height
            var totalPageHeight = 335 + $('.cd-slider-nav').height()
                + pageContentHeight + offset
                + $('.tm-footer').height();

            // Adjust layout based on page height and window height
            if (totalPageHeight > $(window).height()) {
                $('.cd-hero-slider').addClass('small-screen');
                $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", totalPageHeight + "px");
            }
            else {
                $('.cd-hero-slider').removeClass('small-screen');
                $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", "100%");
            }
        }

        function uploadVideo() {

            var videoWrapper = $('.cd-bg-video-wrapper');
            if (videoWrapper.is(':visible')) {
                // if visible - we are not on a mobile device
                var videoUrl = videoWrapper.data('video'),

                    video = $('<video autoplay loop><source src="' + videoUrl + '.mp4" type="video/mp4" /></video>');
                video.appendTo(videoWrapper);

                // play video if first slide
                if (videoWrapper.parent('.cd-bg-video.selected').length > 0) video.get(0).play();
            }
        }

        // Everything is loaded including images.
        $(window).load(function () {

            adjustHeightOfPage(1); // Adjust page height

            // Background Video
            if ($(window).width() > 800) {
                uploadVideo();
            }

            /* Gallery One pop up
            -----------------------------------------*/
            $('.gallery-first').magnificPopup({
                delegate: 'a', // child items selector, by clicking on it popup will open
                type: 'image',
                gallery: { enabled: true }
            });

            /* Gallery Two pop up
            -----------------------------------------*/
            $('.gallery-second').magnificPopup({
                delegate: 'a', // child items selector, by clicking on it popup will open
                type: 'image',
                gallery: { enabled: true }
            });

            /* Collapse menu after click
            -----------------------------------------*/
            $('#tmNavbar a').click(function () {
                $('#tmNavbar').collapse('hide');

                adjustHeightOfPage($(this).data("no")); // Adjust page height
            });

            /* Browser resized
            -----------------------------------------*/
            $(window).resize(function () {
                var currentPageNo = $(".cd-hero-slider li.selected .js-tm-page-content").data("page-no");

                // wait 3 seconds
                setTimeout(function () {
                    adjustHeightOfPage(currentPageNo);
                }, 3000);

                if ($(window).width() > 800) {
                    uploadVideo();
                }

            });

            // Play video only when visible
            // https://stackoverflow.com/questions/21163756/html5-and-javascript-to-play-videos-only-when-visible
            $('video').each(function () {
                if ($(this).is(":in-viewport")) {
                    $(this)[0].play();
                } else {
                    $(this)[0].pause();
                }
            })

            // Remove preloader (https://ihatetomatoes.net/create-custom-preloading-screen/)
            $('body').addClass('loaded');
            $('.tm-current-year').text(new Date().getFullYear());

        });

    </script>

    @RenderSection("scripts", false)
</body>
</html>
