
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cd-full-width">
    <div class="container js-tm-page-content tm-page-1 tm-section-margin-t-small" data-page-no="1">
        <div class="row">
            <div class="col-xs-12">
                <div class="tm-home-container-outer">
                    <div class="tm-home-container">
                        <div class="tm-home-title-container">
                            <h2 class="tm-text-title text-xs-center tm-home-title">Hakkımızda</h2>
                        </div>
                        <div class="tm-home-description-container tm-bg-dark-blue">
                            <div class="text-xs-left tm-textbox">
                                <p class="tm-text tm-home-description">Big City HTML CSS Template is provided by Tooplate website. Feel free to use this layout for your web projects. Please tell your friends about Tooplate. Thank you. Video BG credit: <a href="https://youtu.be/OeBdM7tykUg" target="_blank">Bangkok Sunset</a></p>
                                <p class="tm-text tm-home-description">Quisque mattis pellentesque diam eu vestibulum. Pellentesque augue urna, ultrices sit amet luctus eget, ultricies sit amet ipsum. Nulla sem nisi, commodo sed auctor sed, euismod nec dui. Morbi vitae enim id massa sodales tincidunt a et mi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tm-home-container-bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>

