
@{
    ViewData["Title"] = "FaultList";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}


@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

@model List<Fault>

<div class="col-md-12">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-edit"></i>
                Kayıtlı Arıza Tipi Listesi
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#divNewFaultForm">Yeni Arıza Tipi Ekle</button>
                    <br /><br />
                    <table id="tblFaultList" class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th>Aktif</th>
                                <th>Arıza Adı</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var fault in Model)
                            {
                                <tr>

                                    <td>@Html.Raw(fault.IsActive ? "<span class='badge badge-success'>EVET</span>" : "<span class='badge badge-danger'>HAYIR</span>")</td>
                                    <td>@fault.FaultName</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btnEdit" faultid="@fault.Id">Düzenle</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btnDelete" faultid="@fault.Id">Sil</button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="divNewFaultForm" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Arıza Türü Kayıt Formu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frmNewAdmin">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Arıza Adı</label>
                                <input type="text" class="form-control" id="txtFaultName" name="txtFaultName" placeholder="Arıza Adı">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" name="gridCheck" checked>
                                <label class="form-check-label" for="gridCheck">
                                    Aktif
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="divUpdateFaultForm" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Arıza Türü Düzenleme Formu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frmNewAdmin">
                        @*@Html.AntiForgeryToken()*@
                        <input id="hfFaultIdUpdate" type="hidden" />
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Arıza Adı</label>
                                <input type="email" class="form-control" id="txtFaultNameUpdate" name="txtFaultNameUpdate" placeholder="Arıza Adı">
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheckUpdate" name="gridCheckUpdate" checked>
                                <label class="form-check-label">
                                    Aktif
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button id="btnSaveUpdate" type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/AdminPanel/js/FaultList.js"></script>

}

@section styles{
    <link rel="stylesheet" href="~/lib/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link href="~/lib/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />

    <style>
        .error {
            color: red;
        }
    </style>
}

